version: '2'
services:
  mariadb_server:
    image: "centos/mariadb-101-centos7"
    hostname: mariadb_server
    container_name: mariadb_server
    network_mode: host
    environment:
      - MYSQL_USER=zabbix
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=zabbix
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_MAX_CONNECTIONS=1000
    ports:
      - '3306:3306'

  zabbix_server:
    image: "zabbix/zabbix-server-mysql:centos-4.0.1"
    hostname: zabbix_server
    container_name: zabbix_server
    network_mode: host
    environment:
      - DB_SERVER_HOST={{ ansible_eth0.ipv4.address }} 
      - MYSQL_USER=zabbix
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=zabbix
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ulimits:
     nproc: 65535
     nofile:
      soft: 20000
      hard: 40000
    ports:
      - '10051:10051'
    depends_on:
      - mariadb_server

  zabbix_web:
    image: "zabbix/zabbix-web-nginx-mysql:centos-4.0.1"
    hostname: zabbix_web
    container_name: zabbix_web
    network_mode: host
    environment:
      - ZBX_SERVER_HOST={{ ansible_eth0.ipv4.address }}
      - DB_SERVER_HOST={{ ansible_eth0.ipv4.address }}
      - MYSQL_USER=zabbix
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=zabbix
      - MYSQL_ROOT_PASSWORD=password
      - PHP_TZ=Asia/Seoul
    ulimits:
     nproc: 65535
     nofile:
      soft: 20000
      hard: 40000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - '80:80'
    depends_on:
      - mariadb_server


